# Python
__pycache__/
*.py[cod]
*.pyo
*.egg
*.egg-info/
dist/
build/

# Virtual environments
.venv/
venv/
env/

# Jupyter Notebook
.ipynb_checkpoints/
*.ipynb_checkpoints

# Dataset & results (downloaded automatically)
modelvsbaby_data/
modelvsbaby_eval_results/
*.zip
*.png

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Logs
*.log
